/**
 * Active Directory Integration specific CSS
 *
 * This file is derived from NextGEN Gallery by Alex Rabe.
 *
 * @package Active Directory Integration
 * @author Christoph Steindorff
 * @copyright 2009
 * @since 0.9.8
 */
 
#AD_Integration_attributes_to_show,
#AD_Integration_additional_user_attributes {
	width: 404px;
	height: 15em;
}

table.attribute_descriptions {
	border: 1px solid #BBB;
	border-collapse: collapse;
}

table.attribute_descriptions tr:nth-of-type(2n+2) {
	background-color:#f4f4f4;
}

table.attribute_descriptions td {
	border: 1px solid #BBB;
	border-collapse: collapse;
	padding: 1px 2px;
	font-size: 9px;
}

table.attribute_descriptions th {
	border: 1px solid #BBB;
	border-collapse: collapse;
	text-align: left;
	font-weight: bold;
	padding: 1px 2px;
	font-size: 9px;
}

pre.AD-example {
	width: 400px;
	line-height: 1em;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border-color: #DFDFDF;
	padding: 3px;
	background-color: white;
}

#adi_syncback_password {
	background-color: #FCC;
}

label.adi_syncback_password {
	font-weight: bold;
}

div.user_adi {
	background: url(images/adiicon.png);
	background-repeat:no-repeat;
	background-position: left center;
	padding: 0;
	margin: 0;
	height: 36px;
}

div.user_disabled {
	background: url(images/disabled.png);
	background-repeat:no-repeat;
	background-position: left center;
	padding-left: 28px;
}


/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
	.ui-tabs-hide {
		display: none;
	}
}

/* Hide useless elements in print layouts... */
@media print {
	.ui-tabs-nav {
		display: none;
	}
}

/* Skin */
#slider {
	border-color:#EBEBEB rgb(204, 204, 204) rgb(204, 204, 204) rgb(235, 235, 235);
	border-style:solid;
	border-width:1px;
	margin:15px 15% 0pt 15px;
	padding:2px;
	font-size: 12px;
}
#tabs{
	display: block;
	background:#F1F1F1 none repeat scroll 0%;
	font-size:12px;
	overflow:hidden;
}

#showCommonAttributes {
	vertical-align: top;
}

ul.ui-sortable {
	border: 1px solid #eee;
	width: 60%;
	min-height: 20px;
	list-style-type: none;
	margin: 0;
	padding: 5px 0 0 0;
	float: left;
	margin-right: 10px;
}

ul.ui-sortable li {
	margin: 0 5px 5px 5px;
	padding: 5px;
}
